### This is the code for Research Question 3 : Which sports have been newly added to the Olympic games with GB participation?
- Download the clean_olympics_dataset.csv database from GitHub repo
- Run each line of code below

### Import libraries and read the data

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np


df = pd.read_csv("clean_olympics_dataset.csv")

### Check the data imported properly

In [ ]:
df.head(10)

,Unnamed: 0,ID,Name,Sex,Age,Height,Weight,Team,NOC,Country,Games,Year,Season,City,Sport,Event,Medal
0,51139,26280,GEORGES DAVIEL DE LA NZIRE,M,17.0,NaN,NaN,FRANCE,FRA,FRANCE,1896 SUMMER,1896,SUMMER,ATHINA,ATHLETICS,ATHLETICS MEN'S 800 METRES,NONE
1,33940,17492,EUGNE HENRI CALLOT,M,20.0,NaN,NaN,FRANCE,FRA,FRANCE,1896 SUMMER,1896,SUMMER,ATHINA,FENCING,"FENCING MEN'S FOIL, INDIVIDUAL",SILVER
2,51201,26315,HENRI DE LABORDE,M,NaN,NaN,NaN,FRANCE,FRA,FRANCE,1896 SUMMER,1896,SUMMER,ATHINA,FENCING,"FENCING MEN'S FOIL, INDIVIDUAL",NONE
3,52537,26984,J. DEFERT,M,NaN,NaN,NaN,FRANCE,FRA,FRANCE,1896 SUMMER,1896,SUMMER,ATHINA,TENNIS,TENNIS MEN'S SINGLES,NONE
4,63068,32330,LAUNCESTON ELLIOT,M,21.0,188.0,102.0,GREAT BRITAIN,GBR,GREAT BRITAIN,1896 SUMMER,1896,SUMMER,ATHINA,ATHLETICS,ATHLETICS MEN'S 100 METRES,NONE
5,16001,8620,EDWARD BATTEL,M,NaN,NaN,NaN,GREAT BRITAIN,GBR,GREAT BRITAIN,1896 SUMMER,1896,SUMMER,ATHINA,CYCLING,CYCLING MEN'S 100 KILOMETRES,NONE
6,16000,8620,EDWARD BATTEL,M,NaN,NaN,NaN,GREAT BRITAIN,GBR,GREAT BRITAIN,1896 SUMMER,1896,SUMMER,ATHINA,CYCLING,CYCLING MEN'S 333 METRES TIME TRIAL,NONE
7,15999,8620,EDWARD BATTEL,M,NaN,NaN,NaN,GREAT BRITAIN,GBR,GREAT BRITAIN,1896 SUMMER,1896,SUMMER,ATHINA,CYCLING,"CYCLING MEN'S ROAD RACE, INDIVIDUAL",BRONZE
8,63072,32330,LAUNCESTON ELLIOT,M,21.0,188.0,102.0,GREAT BRITAIN,GBR,GREAT BRITAIN,1896 SUMMER,1896,SUMMER,ATHINA,GYMNASTICS,GYMNASTICS MEN'S ROPE CLIMBING,NONE
9,24683,12929,JOHN MARY PIUS BOLAND,M,25.0,NaN,NaN,GREAT BRITAIN/GERMANY,GBR,GREAT BRITAIN,1896 SUMMER,1896,SUMMER,ATHINA,TENNIS,TENNIS MEN'S DOUBLES,GOLD

### Which year did each sport make its first appearance?
Table as an output

In [ ]:
t = df.groupby('Sport')['Year'].min().reset_index().sort_values('Year', ascending = False)

In [ ]:
t.style.hide(axis='index')

### Which year did a team GB athlete make their first appearance for each sport?
Table as an output (add a column to the prior table)

In [ ]:
# Find the first year for each sport overall
first_year_overall = df.groupby('Sport')['Year'].min().reset_index()
first_year_overall.columns = ['Sport', 'First_Year']

# Find the first year for each sport for Great Britain
first_year_gb = df[df['Country'] == 'GREAT BRITAIN'].groupby('Sport')['Year'].min().reset_index()
first_year_gb.columns = ['Sport', 'First_Year_GB']

# Merge the two DataFrames
t = pd.merge(first_year_overall, first_year_gb, on='Sport', how='inner')

# Select only the required columns
t = t[['Sport', 'First_Year', 'First_Year_GB']].sort_values(by='First_Year_GB')

# Display the result
t.style.hide(axis='index')

### Which sports did team GB not send athletes in the first year the sport appeared at the Olympics?

In [ ]:
# Create a new DataFrame with rows where First_Year and First_Year_GB are different
different_years = t[t['First_Year'] != t['First_Year_GB']]

# Sort the result by First_Year_GB
different_years = different_years.sort_values(by='First_Year_GB')

# Display the result
different_years.style.hide(axis='index')

### Which sports have been removed from the Olympics?
Table shows last year appeared at the Olympics

In [ ]:
t = df.groupby('Sport')['Year'].max().reset_index().sort_values('Year', ascending = True)

In [ ]:
t.style.hide(axis='index')

### demographic details of selected sports
- skateboarding
- bmx racing
- bmx freestyle
- volleyball
- sport climbing
- marathon swimming

In [ ]:
df_skate = df[df['Sport']=='SKATEBOARDING']

In [ ]:
df_skate.groupby('Event')['Age'].describe()

                count   mean       std   min    25%   50%    75%   max
Event
MEN'S PARK       20.0  24.40  7.869996  17.0  20.75  22.5  25.00  46.0
MEN'S STREET     20.0  24.50  4.628288  17.0  20.75  24.0  27.25  35.0
WOMEN'S PARK     20.0  19.55  6.202504  12.0  15.00  18.0  22.00  36.0
WOMEN'S STREET   20.0  21.85  6.011174  13.0  18.25  20.5  26.50  34.0

In [ ]:
df_bmx = df[df['Sport'].str.contains("BMX")]

In [ ]:
df_bmx.groupby('Event')['Age'].describe()
#men = men's racing, men's park = men's freestyle, women = women's racing, women's park = women's freestyle

              count       mean       std   min   25%   50%    75%   max
Event
MEN            24.0  27.166667  2.792329  21.0  25.0  28.0  29.25  31.0
MEN'S PARK      9.0  25.555556  5.027701  19.0  23.0  25.0  27.00  36.0
WOMEN          24.0  24.750000  3.365425  19.0  22.0  24.0  27.00  30.0
WOMEN'S PARK    9.0  23.666667  2.449490  19.0  23.0  24.0  25.00  27.0

In [ ]:
df_climbing = df[df['Sport']=='SPORT CLIMBING']

In [ ]:
df_climbing.groupby('Event')['Age'].describe()

                  count   mean       std   min   25%   50%    75%   max
Event
MEN'S COMBINED     20.0  26.10  5.108301  17.0  23.5  25.0  29.25  36.0
WOMEN'S COMBINED   20.0  23.65  4.196176  17.0  20.0  24.0  27.00  32.0

In [ ]:
df_surf = df[df['Sport']=='SURFING']

In [ ]:
df_surf.groupby('Event')['Age'].describe()

       count   mean       std   min    25%   50%    75%   max
Event
MEN     20.0  27.85  3.950683  21.0  24.75  27.0  31.25  35.0
WOMEN   20.0  25.90  5.618578  19.0  21.00  25.5  30.00  38.0