In [ ]:
import pandas as pd
from google.colab import files

# Upload the Main Olympics Dataset
print("Please upload the 'dataset_olympics.csv' file.")
uploaded = files.upload()

Please upload the 'dataset_olympics.csv' file.

Saving dataset_olympics.csv to dataset_olympics (2).csv

In [ ]:
# Load the file into a DataFrame
df_olympics = pd.read_csv('dataset_olympics.csv')

In [ ]:
# Check it's imported first rows
print("First few rows of the DataFrame:")
df.head()

First few rows of the DataFrame:

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [ ]:
# Output structure
print("\nOlympics dataset structure:")
df_olympics.info()

Olympics dataset structure:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      70000 non-null  int64
 1   Name    70000 non-null  object
 2   Sex     70000 non-null  object
 3   Age     67268 non-null  float64
 4   Height  53746 non-null  float64
 5   Weight  52899 non-null  float64
 6   Team    70000 non-null  object
 7   NOC     70000 non-null  object
 8   Games   70000 non-null  object
 9   Year    70000 non-null  int64
 10  Season  70000 non-null  object
 11  City    70000 non-null  object
 12  Sport   70000 non-null  object
 13  Event   70000 non-null  object
 14  Medal   9690 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 8.0+ MB

In [ ]:
# Output main statistics
print("\nMain statistics:")
df_olympics.describe()

Main statistics:

                 ID           Age        Height        Weight          Year
count  70000.000000  67268.000000  53746.000000  52899.000000  70000.000000
mean   18081.846986     25.644645    175.505303     70.900216   1977.766457
std    10235.613253      6.485239     10.384203     14.217489     30.103306
min        1.000000     11.000000    127.000000     25.000000   1896.000000
25%     9325.750000     21.000000    168.000000     61.000000   1960.000000
50%    18032.000000     25.000000    175.000000     70.000000   1984.000000
75%    26978.000000     28.000000    183.000000     79.000000   2002.000000
max    35658.000000     88.000000    223.000000    214.000000   2016.000000

In [ ]:
# Check for missing values
print("\nMissing values in each column:")
df.isnull().sum()

Missing values in each column:

ID            0
Name          0
Sex           0
Age        2732
Height    16254
Weight    17101
Team          0
NOC           0
Games         0
Year          0
Season        0
City          0
Sport         0
Event         0
Medal     60310
dtype: int64

In [ ]:


# Upload Tokyo CSV file
print("Please upload the '2020_Olympics_Dataset.csv' file.")
uploaded_tokyo = files.upload()

# Load the dataset into a DataFrame, specifying the encoding
df_tokyo = pd.read_csv('2020_Olympics_Dataset.csv', encoding='ISO-8859-1')

# Show first few rows of the dataset
print("\nFirst few rows of the Tokyo 2020 Olympics dataset:")
print(df_tokyo.head())

Please upload the '2020_Olympics_Dataset.csv' file.

Saving 2020_Olympics_Dataset.csv to 2020_Olympics_Dataset (3).csv

First few rows of the Tokyo 2020 Olympics dataset:
   Unnamed: 0     Code             Name  Gender  Age  NOC Country Discipline  \
0           1  1346266  AALERUD Katrine  Female   26  NOR  Norway        CRD
1           2  1346266  AALERUD Katrine  Female   26  NOR  Norway        CRD
2           3  1355250      ABAD Nestor    Male   28  ESP   Spain        GAR
3           4  1355250      ABAD Nestor    Male   28  ESP   Spain        GAR
4           5  1355250      ABAD Nestor    Male   28  ESP   Spain        GAR

                 Sport                          Event  Rank Medal
0         Cycling Road              Women's Road Race  37.0   NaN
1         Cycling Road  Women's Individual Time Trial  20.0   NaN
2  Artistic Gymnastics               Men's All-Around   NaN   NaN
3  Artistic Gymnastics           Men's Floor Exercise   NaN   NaN
4  Artistic Gymnastics             Men's Pommel Horse   NaN   NaN

In [ ]:
# Show first few rows of the Tokyo 2020 Olympics dataset
print("\nFirst few rows of the Tokyo 2020 Olympics dataset:")
print(df_tokyo.head())

# Show structure of the Tokyo 2020 Olympics dataset
print("\nTokyo 2020 Olympics dataset structure:")
df_tokyo.info()

#Show main statistics of the Tokyo 2020 Olympics dataset
print("\nBasic statistics of the Tokyo 2020 Olympics dataset:")
print(df_tokyo.describe())

# Show column names of the Tokyo 2020 Olympics dataset
print("\nColumn names of the Tokyo 2020 Olympics dataset:")
print(df_tokyo.columns)

# Check for missing values in the Tokyo 2020 Olympics dataset
print("\nMissing values in each column of the Tokyo 2020 Olympics dataset:")
print(df_tokyo.isnull().sum())

First few rows of the Tokyo 2020 Olympics dataset:
   Unnamed: 0     Code             Name  Gender  Age  NOC Country Discipline  \
0           1  1346266  AALERUD Katrine  Female   26  NOR  Norway        CRD
1           2  1346266  AALERUD Katrine  Female   26  NOR  Norway        CRD
2           3  1355250      ABAD Nestor    Male   28  ESP   Spain        GAR
3           4  1355250      ABAD Nestor    Male   28  ESP   Spain        GAR
4           5  1355250      ABAD Nestor    Male   28  ESP   Spain        GAR

                 Sport                          Event  Rank Medal
0         Cycling Road              Women's Road Race  37.0   NaN
1         Cycling Road  Women's Individual Time Trial  20.0   NaN
2  Artistic Gymnastics               Men's All-Around   NaN   NaN
3  Artistic Gymnastics           Men's Floor Exercise   NaN   NaN
4  Artistic Gymnastics             Men's Pommel Horse   NaN   NaN

Tokyo 2020 Olympics dataset structure:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15121 entries, 0 to 15120
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  15121 non-null  int64
 1   Code        15121 non-null  int64
 2   Name        15121 non-null  object
 3   Gender      15121 non-null  object
 4   Age         15121 non-null  int64
 5   NOC         15121 non-null  object
 6   Country     15121 non-null  object
 7   Discipline  15121 non-null  object
 8   Sport       15121 non-null  object
 9   Event       15121 non-null  object
 10  Rank        11355 non-null  float64
 11  Medal       2449 non-null   object
dtypes: float64(1), int64(3), object(8)
memory usage: 1.4+ MB

Basic statistics of the Tokyo 2020 Olympics dataset:
         Unnamed: 0          Code           Age          Rank
count  15121.000000  1.512100e+04  15121.000000  11355.000000
mean    7561.000000  1.383703e+06     26.765227     10.749538
std     4365.201045  9.236830e+04      5.608882     10.675864
min        1.000000  1.279346e+06     12.000000      1.000000
25%     3781.000000  1.319680e+06     23.000000      4.000000
50%     7561.000000  1.351049e+06     26.000000      8.000000
75%    11341.000000  1.436554e+06     30.000000     13.000000
max    15121.000000  1.919333e+06     66.000000     85.000000

Column names of the Tokyo 2020 Olympics dataset:
Index(['Unnamed: 0', 'Code', 'Name', 'Gender', 'Age', 'NOC', 'Country',
       'Discipline', 'Sport', 'Event', 'Rank', 'Medal'],
      dtype='object')

Missing values in each column of the Tokyo 2020 Olympics dataset:
Unnamed: 0        0
Code              0
Name              0
Gender            0
Age               0
NOC               0
Country           0
Discipline        0
Sport             0
Event             0
Rank           3766
Medal         12672
dtype: int64

In [ ]:
print("First few rows of the Tokyo Olympics DataFrame:")
df_tokyo.head()

First few rows of the Tokyo Olympics DataFrame:

,Unnamed: 0,Code,Name,Gender,Age,NOC,Country,Discipline,Sport,Event,Rank,Medal
0,1,1346266,AALERUD Katrine,Female,26,NOR,Norway,CRD,Cycling Road,Women's Road Race,37.0,NaN
1,2,1346266,AALERUD Katrine,Female,26,NOR,Norway,CRD,Cycling Road,Women's Individual Time Trial,20.0,NaN
2,3,1355250,ABAD Nestor,Male,28,ESP,Spain,GAR,Artistic Gymnastics,Men's All-Around,NaN,NaN
3,4,1355250,ABAD Nestor,Male,28,ESP,Spain,GAR,Artistic Gymnastics,Men's Floor Exercise,NaN,NaN
4,5,1355250,ABAD Nestor,Male,28,ESP,Spain,GAR,Artistic Gymnastics,Men's Pommel Horse,NaN,NaN

In [ ]:


# Show first few rows of Main Olympics dataset
print("First few rows of Main Olympics dataset:")
df_olympics.head()

First few rows of Main Olympics dataset:

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [ ]:
# Display the columns in both datasets
print("Columns in the Olympics dataset:")
print(df_olympics.columns)

print("\nColumns in the Tokyo 2020 Olympics dataset:")
print(df_tokyo.columns)

Columns in the Olympics dataset:
Index(['ID', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games',
       'Year', 'Season', 'City', 'Sport', 'Event', 'Medal'],
      dtype='object')

Columns in the Tokyo 2020 Olympics dataset:
Index(['Unnamed: 0', 'Code', 'Name', 'Gender', 'Age', 'NOC', 'Country',
       'Discipline', 'Sport', 'Event', 'Rank', 'Medal'],
      dtype='object')

In [ ]:

#show the first few rows to understand the current structure
print("\nFirst few rows of the Tokyo 2020 Olympics dataset before renaming:")
print(df_tokyo.head())

First few rows of the Tokyo 2020 Olympics dataset before renaming:
   Unnamed: 0     Code             Name  Gender  Age  NOC Country Discipline  \
0           1  1346266  AALERUD Katrine  Female   26  NOR  Norway        CRD
1           2  1346266  AALERUD Katrine  Female   26  NOR  Norway        CRD
2           3  1355250      ABAD Nestor    Male   28  ESP   Spain        GAR
3           4  1355250      ABAD Nestor    Male   28  ESP   Spain        GAR
4           5  1355250      ABAD Nestor    Male   28  ESP   Spain        GAR

                 Sport                          Event  Rank Medal
0         Cycling Road              Women's Road Race  37.0   NaN
1         Cycling Road  Women's Individual Time Trial  20.0   NaN
2  Artistic Gymnastics               Men's All-Around   NaN   NaN
3  Artistic Gymnastics           Men's Floor Exercise   NaN   NaN
4  Artistic Gymnastics             Men's Pommel Horse   NaN   NaN

In [ ]:
# Rename the column from 'Gender' to 'Sex'
df_tokyo.rename(columns={'Gender': 'Sex'}, inplace=True)

In [ ]:
# Step 2: Replace the contents of the 'Sex' column
df_tokyo['Sex'].replace({'Female': 'F', 'Male': 'M'})

0        F
1        F
2        M
3        M
4        M
        ..
15116    F
15117    F
15118    F
15119    F
15120    F
Name: Sex, Length: 15121, dtype: object

In [ ]:
#check it's worked
print("\nFirst few rows of the Tokyo 2020 Olympics dataset after renaming and replacing contents:")
print(df_tokyo.head())

First few rows of the Tokyo 2020 Olympics dataset after renaming and replacing contents:
   Unnamed: 0     Code             Name     Sex  Age  NOC Country Discipline  \
0           1  1346266  AALERUD Katrine  Female   26  NOR  Norway        CRD
1           2  1346266  AALERUD Katrine  Female   26  NOR  Norway        CRD
2           3  1355250      ABAD Nestor    Male   28  ESP   Spain        GAR
3           4  1355250      ABAD Nestor    Male   28  ESP   Spain        GAR
4           5  1355250      ABAD Nestor    Male   28  ESP   Spain        GAR

                 Sport                          Event  Rank Medal
0         Cycling Road              Women's Road Race  37.0   NaN
1         Cycling Road  Women's Individual Time Trial  20.0   NaN
2  Artistic Gymnastics               Men's All-Around   NaN   NaN
3  Artistic Gymnastics           Men's Floor Exercise   NaN   NaN
4  Artistic Gymnastics             Men's Pommel Horse   NaN   NaN

In [ ]:
# Rename the column from 'Country' to 'Team'
df_tokyo.rename(columns={'Country': 'Team'}, inplace=True)

In [ ]:
#check it worked
print("\nFirst few rows of the Tokyo 2020 Olympics dataset after renaming and replacing contents:")
print(df_tokyo.head())

First few rows of the Tokyo 2020 Olympics dataset after renaming and replacing contents:
   Unnamed: 0     Code             Name     Sex  Age  NOC    Team Discipline  \
0           1  1346266  AALERUD Katrine  Female   26  NOR  Norway        CRD
1           2  1346266  AALERUD Katrine  Female   26  NOR  Norway        CRD
2           3  1355250      ABAD Nestor    Male   28  ESP   Spain        GAR
3           4  1355250      ABAD Nestor    Male   28  ESP   Spain        GAR
4           5  1355250      ABAD Nestor    Male   28  ESP   Spain        GAR

                 Sport                          Event  Rank Medal
0         Cycling Road              Women's Road Race  37.0   NaN
1         Cycling Road  Women's Individual Time Trial  20.0   NaN
2  Artistic Gymnastics               Men's All-Around   NaN   NaN
3  Artistic Gymnastics           Men's Floor Exercise   NaN   NaN
4  Artistic Gymnastics             Men's Pommel Horse   NaN   NaN

In [ ]:
# Rename column from 'Code' to 'ID'
df_tokyo.rename(columns={'Code': 'ID'}, inplace=True)

In [ ]:
#check it worked
print("\nFirst few rows of the Tokyo 2020 Olympics dataset after renaming and replacing contents:")
print(df_tokyo.head())

First few rows of the Tokyo 2020 Olympics dataset after renaming and replacing contents:
   Unnamed: 0     Code             Name     Sex  Age  NOC    Team Discipline  \
0           1  1346266  AALERUD Katrine  Female   26  NOR  Norway        CRD
1           2  1346266  AALERUD Katrine  Female   26  NOR  Norway        CRD
2           3  1355250      ABAD Nestor    Male   28  ESP   Spain        GAR
3           4  1355250      ABAD Nestor    Male   28  ESP   Spain        GAR
4           5  1355250      ABAD Nestor    Male   28  ESP   Spain        GAR

                 Sport                          Event  Rank Medal
0         Cycling Road              Women's Road Race  37.0   NaN
1         Cycling Road  Women's Individual Time Trial  20.0   NaN
2  Artistic Gymnastics               Men's All-Around   NaN   NaN
3  Artistic Gymnastics           Men's Floor Exercise   NaN   NaN
4  Artistic Gymnastics             Men's Pommel Horse   NaN   NaN

In [ ]:
# Check for columns with 'Unnamed' in the name
print(df_tokyo.columns)

Index(['Code', 'Name', 'Sex', 'Age', 'NOC', 'Team', 'Discipline', 'Sport',
       'Event', 'Rank', 'Medal'],
      dtype='object')

In [ ]:

# Check new first few rows to check the current structure
print("\nFirst few rows of the Tokyo 2020 Olympics dataset before dropping the column:")
print(df_tokyo.head())

# Show columns to identify the unnamed column
print("\nColumn names in the dataset:")
print(df_tokyo.columns)

First few rows of the Tokyo 2020 Olympics dataset before dropping the column:
      Code             Name     Sex  Age  NOC    Team Discipline  \
0  1346266  AALERUD Katrine  Female   26  NOR  Norway        CRD
1  1346266  AALERUD Katrine  Female   26  NOR  Norway        CRD
2  1355250      ABAD Nestor    Male   28  ESP   Spain        GAR
3  1355250      ABAD Nestor    Male   28  ESP   Spain        GAR
4  1355250      ABAD Nestor    Male   28  ESP   Spain        GAR

                 Sport                          Event  Rank Medal
0         Cycling Road              Women's Road Race  37.0   NaN
1         Cycling Road  Women's Individual Time Trial  20.0   NaN
2  Artistic Gymnastics               Men's All-Around   NaN   NaN
3  Artistic Gymnastics           Men's Floor Exercise   NaN   NaN
4  Artistic Gymnastics             Men's Pommel Horse   NaN   NaN

Column names in the dataset:
Index(['Code', 'Name', 'Sex', 'Age', 'NOC', 'Team', 'Discipline', 'Sport',
       'Event', 'Rank', 'Medal'],
      dtype='object')

In [ ]:
# Drop first column by index (0)
df_tokyo = df_tokyo.drop(df_tokyo.columns[0], axis=1)

# Show the first few rows to verify changes
print("\nFirst few rows of the Tokyo 2020 Olympics dataset after dropping the first column:")
print(df_tokyo.head())

First few rows of the Tokyo 2020 Olympics dataset after dropping the first column:
              Name     Sex  Age  NOC    Team Discipline                Sport  \
0  AALERUD Katrine  Female   26  NOR  Norway        CRD         Cycling Road
1  AALERUD Katrine  Female   26  NOR  Norway        CRD         Cycling Road
2      ABAD Nestor    Male   28  ESP   Spain        GAR  Artistic Gymnastics
3      ABAD Nestor    Male   28  ESP   Spain        GAR  Artistic Gymnastics
4      ABAD Nestor    Male   28  ESP   Spain        GAR  Artistic Gymnastics

                           Event  Rank Medal
0              Women's Road Race  37.0   NaN
1  Women's Individual Time Trial  20.0   NaN
2               Men's All-Around   NaN   NaN
3           Men's Floor Exercise   NaN   NaN
4             Men's Pommel Horse   NaN   NaN

In [ ]:
# Display the columns in both datasets
print("Columns in the Olympics dataset:")
print(df_olympics.columns)

print("\nColumns in the Tokyo 2020 Olympics dataset:")
print(df_tokyo.columns)

Columns in the Olympics dataset:
Index(['ID', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games',
       'Year', 'Season', 'City', 'Sport', 'Event', 'Medal'],
      dtype='object')

Columns in the Tokyo 2020 Olympics dataset:
Index(['Name', 'Sex', 'Age', 'NOC', 'Team', 'Discipline', 'Sport', 'Event',
       'Rank', 'Medal'],
      dtype='object')

In [ ]:
# Show the first few rows to understand the current structure
print("\nFirst few rows of the Tokyo 2020 Olympics dataset after reloading:")
print(df_tokyo.head())

First few rows of the Tokyo 2020 Olympics dataset after reloading:
              Name     Sex  Age  NOC    Team Discipline                Sport  \
0  AALERUD Katrine  Female   26  NOR  Norway        CRD         Cycling Road
1  AALERUD Katrine  Female   26  NOR  Norway        CRD         Cycling Road
2      ABAD Nestor    Male   28  ESP   Spain        GAR  Artistic Gymnastics
3      ABAD Nestor    Male   28  ESP   Spain        GAR  Artistic Gymnastics
4      ABAD Nestor    Male   28  ESP   Spain        GAR  Artistic Gymnastics

                           Event  Rank Medal
0              Women's Road Race  37.0   NaN
1  Women's Individual Time Trial  20.0   NaN
2               Men's All-Around   NaN   NaN
3           Men's Floor Exercise   NaN   NaN
4             Men's Pommel Horse   NaN   NaN

In [ ]:
# Rename 'Code' column to 'ID'
df_tokyo.rename(columns={'Code': 'ID'}, inplace=True)

# Display the columns to verify the renaming
print("\nColumn names in the Tokyo 2020 dataset after renaming 'Code' to 'ID':")
print(df_tokyo.columns)

Column names in the Tokyo 2020 dataset after renaming 'Code' to 'ID':
Index(['Name', 'Sex', 'Age', 'NOC', 'Team', 'Discipline', 'Sport', 'Event',
       'Rank', 'Medal'],
      dtype='object')

In [ ]:
# Show the first few rows of the Olympics dataset
print("First few rows of the Olympics dataset:")
df_olympics.head()

First few rows of the Olympics dataset:

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [ ]:
# Show first few rows of the Tokyo Olympics dataset
print("First few rows of the Tokyo Olympics dataset:")
df_tokyo.head()

First few rows of the Tokyo Olympics dataset:

,Name,Sex,Age,NOC,Team,Discipline,Sport,Event,Rank,Medal
0,AALERUD Katrine,Female,26,NOR,Norway,CRD,Cycling Road,Women's Road Race,37.0,NaN
1,AALERUD Katrine,Female,26,NOR,Norway,CRD,Cycling Road,Women's Individual Time Trial,20.0,NaN
2,ABAD Nestor,Male,28,ESP,Spain,GAR,Artistic Gymnastics,Men's All-Around,NaN,NaN
3,ABAD Nestor,Male,28,ESP,Spain,GAR,Artistic Gymnastics,Men's Floor Exercise,NaN,NaN
4,ABAD Nestor,Male,28,ESP,Spain,GAR,Artistic Gymnastics,Men's Pommel Horse,NaN,NaN

In [ ]:
# Rename the 'Code' column to 'ID' and 'Gender' to 'Sex'
df_tokyo.rename(columns={'Code': 'ID', 'Gender': 'Sex'}, inplace=True)

# Display the columns to verify the renaming
print("\nColumn names in the Tokyo 2020 dataset after renaming 'Code' to 'ID' and 'Gender' to 'Sex':")
print(df_tokyo.columns)

Column names in the Tokyo 2020 dataset after renaming 'Code' to 'ID' and 'Gender' to 'Sex':
Index(['ID', 'Name', 'Sex', 'Age', 'NOC', 'Country', 'Discipline', 'Sport',
       'Event', 'Rank', 'Medal'],
      dtype='object')

In [ ]:
# Replace the contents of the 'Sex' column without using inplace
df_tokyo['Sex'] = df_tokyo['Sex'].replace({'Female': 'F', 'Male': 'M'})

# Display the first few rows to verify changes
print("\nFirst few rows of the Tokyo 2020 Olympics dataset after replacing contents of 'Sex':")
print(df_tokyo.head())

First few rows of the Tokyo 2020 Olympics dataset after replacing contents of 'Sex':
        ID             Name Sex  Age  NOC Country Discipline  \
0  1346266  AALERUD Katrine   F   26  NOR  Norway        CRD
1  1346266  AALERUD Katrine   F   26  NOR  Norway        CRD
2  1355250      ABAD Nestor   M   28  ESP   Spain        GAR
3  1355250      ABAD Nestor   M   28  ESP   Spain        GAR
4  1355250      ABAD Nestor   M   28  ESP   Spain        GAR

                 Sport                          Event  Rank Medal
0         Cycling Road              Women's Road Race  37.0   NaN
1         Cycling Road  Women's Individual Time Trial  20.0   NaN
2  Artistic Gymnastics               Men's All-Around   NaN   NaN
3  Artistic Gymnastics           Men's Floor Exercise   NaN   NaN
4  Artistic Gymnastics             Men's Pommel Horse   NaN   NaN

In [ ]:
# Add the Year column to the Tokyo dataset
df_tokyo['Year'] = 2020

# Display the first few rows to verify changes
print("\nFirst few rows of the Tokyo 2020 Olympics dataset after adding the Year column:")
print(df_tokyo.head())

First few rows of the Tokyo 2020 Olympics dataset after adding the Year column:
              Name     Sex  Age  NOC    Team Discipline                Sport  \
0  AALERUD Katrine  Female   26  NOR  Norway        CRD         Cycling Road
1  AALERUD Katrine  Female   26  NOR  Norway        CRD         Cycling Road
2      ABAD Nestor    Male   28  ESP   Spain        GAR  Artistic Gymnastics
3      ABAD Nestor    Male   28  ESP   Spain        GAR  Artistic Gymnastics
4      ABAD Nestor    Male   28  ESP   Spain        GAR  Artistic Gymnastics

                           Event  Rank Medal  Year
0              Women's Road Race  37.0   NaN  2020
1  Women's Individual Time Trial  20.0   NaN  2020
2               Men's All-Around   NaN   NaN  2020
3           Men's Floor Exercise   NaN   NaN  2020
4             Men's Pommel Horse   NaN   NaN  2020

In [ ]:
# Display the first few rows of the Olympics dataset
print("First few rows of the Tokyo Olympics dataset:")
df_tokyo.head()

First few rows of the Tokyo Olympics dataset:

,Name,Sex,Age,NOC,Team,Discipline,Sport,Event,Rank,Medal,Year
0,AALERUD Katrine,Female,26,NOR,Norway,CRD,Cycling Road,Women's Road Race,37.0,NaN,2020
1,AALERUD Katrine,Female,26,NOR,Norway,CRD,Cycling Road,Women's Individual Time Trial,20.0,NaN,2020
2,ABAD Nestor,Male,28,ESP,Spain,GAR,Artistic Gymnastics,Men's All-Around,NaN,NaN,2020
3,ABAD Nestor,Male,28,ESP,Spain,GAR,Artistic Gymnastics,Men's Floor Exercise,NaN,NaN,2020
4,ABAD Nestor,Male,28,ESP,Spain,GAR,Artistic Gymnastics,Men's Pommel Horse,NaN,NaN,2020

In [ ]:
# Add the Season column to the Tokyo dataset
df_tokyo['Season'] = 'Summer'

In [ ]:
# Check the first few rows of the Olympics dataset
print("First few rows of the Tokyo Olympics dataset:")
df_tokyo.head()

First few rows of the Tokyo Olympics dataset:

,Name,Sex,Age,NOC,Team,Discipline,Sport,Event,Rank,Medal,Year,Season
0,AALERUD Katrine,Female,26,NOR,Norway,CRD,Cycling Road,Women's Road Race,37.0,NaN,2020,Summer
1,AALERUD Katrine,Female,26,NOR,Norway,CRD,Cycling Road,Women's Individual Time Trial,20.0,NaN,2020,Summer
2,ABAD Nestor,Male,28,ESP,Spain,GAR,Artistic Gymnastics,Men's All-Around,NaN,NaN,2020,Summer
3,ABAD Nestor,Male,28,ESP,Spain,GAR,Artistic Gymnastics,Men's Floor Exercise,NaN,NaN,2020,Summer
4,ABAD Nestor,Male,28,ESP,Spain,GAR,Artistic Gymnastics,Men's Pommel Horse,NaN,NaN,2020,Summer

In [ ]:
print("First few rows of the Other Olympics dataset:")
df_olympics.head()

First few rows of the Other Olympics dataset:

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [ ]:
# Add Games column to the Tokyo dataset
df_tokyo['Games'] = '2020 Summer'

In [ ]:
#check it worked
print("First few rows of the Tokyo Olympics dataset:")
df_tokyo.head()

First few rows of the Tokyo Olympics dataset:

,Name,Sex,Age,NOC,Team,Discipline,Sport,Event,Rank,Medal,Year,Season,Games
0,AALERUD Katrine,Female,26,NOR,Norway,CRD,Cycling Road,Women's Road Race,37.0,NaN,2020,Summer,2020 Summer
1,AALERUD Katrine,Female,26,NOR,Norway,CRD,Cycling Road,Women's Individual Time Trial,20.0,NaN,2020,Summer,2020 Summer
2,ABAD Nestor,Male,28,ESP,Spain,GAR,Artistic Gymnastics,Men's All-Around,NaN,NaN,2020,Summer,2020 Summer
3,ABAD Nestor,Male,28,ESP,Spain,GAR,Artistic Gymnastics,Men's Floor Exercise,NaN,NaN,2020,Summer,2020 Summer
4,ABAD Nestor,Male,28,ESP,Spain,GAR,Artistic Gymnastics,Men's Pommel Horse,NaN,NaN,2020,Summer,2020 Summer

In [ ]:
df_tokyo['Height'] = pd.NA
df_tokyo['Weight'] = pd.NA

In [ ]:
print("\nColumns in the Tokyo 2020 Olympics dataset after adding Height and Weight:")
print(df_tokyo.columns)

Columns in the Tokyo 2020 Olympics dataset after adding Height and Weight:
Index(['Name', 'Sex', 'Age', 'NOC', 'Team', 'Discipline', 'Sport', 'Event',
       'Rank', 'Medal', 'Year', 'Season', 'Games', 'Height', 'Weight'],
      dtype='object')

In [ ]:
#check it worked
print("\nFirst few rows of the Tokyo 2020 Olympics dataset after adding Height and Weight:")
print(df_tokyo.head())

First few rows of the Tokyo 2020 Olympics dataset after adding Height and Weight:
              Name     Sex  Age  NOC    Team Discipline                Sport  \
0  AALERUD Katrine  Female   26  NOR  Norway        CRD         Cycling Road
1  AALERUD Katrine  Female   26  NOR  Norway        CRD         Cycling Road
2      ABAD Nestor    Male   28  ESP   Spain        GAR  Artistic Gymnastics
3      ABAD Nestor    Male   28  ESP   Spain        GAR  Artistic Gymnastics
4      ABAD Nestor    Male   28  ESP   Spain        GAR  Artistic Gymnastics

                           Event  Rank Medal  Year  Season        Games  \
0              Women's Road Race  37.0   NaN  2020  Summer  2020 Summer
1  Women's Individual Time Trial  20.0   NaN  2020  Summer  2020 Summer
2               Men's All-Around   NaN   NaN  2020  Summer  2020 Summer
3           Men's Floor Exercise   NaN   NaN  2020  Summer  2020 Summer
4             Men's Pommel Horse   NaN   NaN  2020  Summer  2020 Summer

  Height Weight
0   <NA>   <NA>
1   <NA>   <NA>
2   <NA>   <NA>
3   <NA>   <NA>
4   <NA>   <NA>

In [ ]:
df_tokyo['City'] = pd.NA

In [ ]:
print("\nColumns in the Tokyo 2020 Olympics dataset after adding City:")
print(df_tokyo.columns)

Columns in the Tokyo 2020 Olympics dataset after adding City:
Index(['Name', 'Sex', 'Age', 'NOC', 'Team', 'Discipline', 'Sport', 'Event',
       'Rank', 'Medal', 'Year', 'Season', 'Games', 'Height', 'Weight', 'City'],
      dtype='object')

In [ ]:
print("\nFirst few rows of the Tokyo 2020 Olympics dataset after adding Height and Weight:")
print(df_tokyo.head())

First few rows of the Tokyo 2020 Olympics dataset after adding Height and Weight:
              Name     Sex  Age  NOC    Team Discipline                Sport  \
0  AALERUD Katrine  Female   26  NOR  Norway        CRD         Cycling Road
1  AALERUD Katrine  Female   26  NOR  Norway        CRD         Cycling Road
2      ABAD Nestor    Male   28  ESP   Spain        GAR  Artistic Gymnastics
3      ABAD Nestor    Male   28  ESP   Spain        GAR  Artistic Gymnastics
4      ABAD Nestor    Male   28  ESP   Spain        GAR  Artistic Gymnastics

                           Event  Rank Medal  Year  Season        Games  \
0              Women's Road Race  37.0   NaN  2020  Summer  2020 Summer
1  Women's Individual Time Trial  20.0   NaN  2020  Summer  2020 Summer
2               Men's All-Around   NaN   NaN  2020  Summer  2020 Summer
3           Men's Floor Exercise   NaN   NaN  2020  Summer  2020 Summer
4             Men's Pommel Horse   NaN   NaN  2020  Summer  2020 Summer

  Height Weight  City
0   <NA>   <NA>  <NA>
1   <NA>   <NA>  <NA>
2   <NA>   <NA>  <NA>
3   <NA>   <NA>  <NA>
4   <NA>   <NA>  <NA>

In [ ]:
# Delete 'Discipline' column from the Tokyo dataset
df_tokyo.drop(columns=['Discipline'], inplace=True)

# Display the columns to verify the deletion
print("\nColumns in the Tokyo 2020 Olympics dataset after deleting 'Discipline':")
print(df_tokyo.columns)

# Display the first few rows to verify changes
print("\nFirst few rows of the Tokyo 2020 Olympics dataset after deleting 'Discipline':")
print(df_tokyo.head())

Columns in the Tokyo 2020 Olympics dataset after deleting 'Discipline':
Index(['Name', 'Sex', 'Age', 'NOC', 'Team', 'Sport', 'Event', 'Rank', 'Medal',
       'Year', 'Season', 'Games', 'Height', 'Weight', 'City'],
      dtype='object')

First few rows of the Tokyo 2020 Olympics dataset after deleting 'Discipline':
              Name     Sex  Age  NOC    Team                Sport  \
0  AALERUD Katrine  Female   26  NOR  Norway         Cycling Road
1  AALERUD Katrine  Female   26  NOR  Norway         Cycling Road
2      ABAD Nestor    Male   28  ESP   Spain  Artistic Gymnastics
3      ABAD Nestor    Male   28  ESP   Spain  Artistic Gymnastics
4      ABAD Nestor    Male   28  ESP   Spain  Artistic Gymnastics

                           Event  Rank Medal  Year  Season        Games  \
0              Women's Road Race  37.0   NaN  2020  Summer  2020 Summer
1  Women's Individual Time Trial  20.0   NaN  2020  Summer  2020 Summer
2               Men's All-Around   NaN   NaN  2020  Summer  2020 Summer
3           Men's Floor Exercise   NaN   NaN  2020  Summer  2020 Summer
4             Men's Pommel Horse   NaN   NaN  2020  Summer  2020 Summer

  Height Weight  City
0   <NA>   <NA>  <NA>
1   <NA>   <NA>  <NA>
2   <NA>   <NA>  <NA>
3   <NA>   <NA>  <NA>
4   <NA>   <NA>  <NA>

In [ ]:
#check head
print(df_tokyo.head())

              Name     Sex  Age  NOC    Team                Sport  \
0  AALERUD Katrine  Female   26  NOR  Norway         Cycling Road
1  AALERUD Katrine  Female   26  NOR  Norway         Cycling Road
2      ABAD Nestor    Male   28  ESP   Spain  Artistic Gymnastics
3      ABAD Nestor    Male   28  ESP   Spain  Artistic Gymnastics
4      ABAD Nestor    Male   28  ESP   Spain  Artistic Gymnastics

                           Event  Rank Medal  Year  Season        Games  \
0              Women's Road Race  37.0   NaN  2020  Summer  2020 Summer
1  Women's Individual Time Trial  20.0   NaN  2020  Summer  2020 Summer
2               Men's All-Around   NaN   NaN  2020  Summer  2020 Summer
3           Men's Floor Exercise   NaN   NaN  2020  Summer  2020 Summer
4             Men's Pommel Horse   NaN   NaN  2020  Summer  2020 Summer

  Height Weight  City
0   <NA>   <NA>  <NA>
1   <NA>   <NA>  <NA>
2   <NA>   <NA>  <NA>
3   <NA>   <NA>  <NA>
4   <NA>   <NA>  <NA>

In [ ]:
print("First few rows of the Tokyo dataset:")
df_tokyo.head()

First few rows of the Tokyo dataset:

,ID,Name,Sex,Age,NOC,Country,Sport,Event,Rank,Medal,Year,Season,Games,Height,Weight,City
0,1346266,AALERUD Katrine,F,26,NOR,Norway,Cycling Road,Women's Road Race,37.0,NaN,2020,Summer,2020 Summer,<NA>,<NA>,<NA>
1,1346266,AALERUD Katrine,F,26,NOR,Norway,Cycling Road,Women's Individual Time Trial,20.0,NaN,2020,Summer,2020 Summer,<NA>,<NA>,<NA>
2,1355250,ABAD Nestor,M,28,ESP,Spain,Artistic Gymnastics,Men's All-Around,NaN,NaN,2020,Summer,2020 Summer,<NA>,<NA>,<NA>
3,1355250,ABAD Nestor,M,28,ESP,Spain,Artistic Gymnastics,Men's Floor Exercise,NaN,NaN,2020,Summer,2020 Summer,<NA>,<NA>,<NA>
4,1355250,ABAD Nestor,M,28,ESP,Spain,Artistic Gymnastics,Men's Pommel Horse,NaN,NaN,2020,Summer,2020 Summer,<NA>,<NA>,<NA>

In [ ]:
print("First few rows of the Olympics dataset:")
df_olympics.head()

First few rows of the Olympics dataset:

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [ ]:
# Rename the 'Country' column to 'Team' in the Tokyo dataset
df_tokyo.rename(columns={'Country': 'Team'}, inplace=True)

# Display the columns to verify the renaming
print("\nColumn names in the Tokyo 2020 dataset after renaming 'Country' to 'Team':")
print(df_tokyo.columns)

Column names in the Tokyo 2020 dataset after renaming 'Country' to 'Team':
Index(['Name', 'Sex', 'Age', 'NOC', 'Team', 'Sport', 'Event', 'Rank', 'Medal',
       'Year', 'Season', 'Games', 'Height', 'Weight', 'City'],
      dtype='object')

In [ ]:
df_tokyo.head()

,ID,Name,Sex,Age,NOC,Team,Sport,Event,Rank,Medal,Year,Season,Games,Height,Weight,City
0,1346266,AALERUD Katrine,F,26,NOR,Norway,Cycling Road,Women's Road Race,37.0,NaN,2020,Summer,2020 Summer,<NA>,<NA>,<NA>
1,1346266,AALERUD Katrine,F,26,NOR,Norway,Cycling Road,Women's Individual Time Trial,20.0,NaN,2020,Summer,2020 Summer,<NA>,<NA>,<NA>
2,1355250,ABAD Nestor,M,28,ESP,Spain,Artistic Gymnastics,Men's All-Around,NaN,NaN,2020,Summer,2020 Summer,<NA>,<NA>,<NA>
3,1355250,ABAD Nestor,M,28,ESP,Spain,Artistic Gymnastics,Men's Floor Exercise,NaN,NaN,2020,Summer,2020 Summer,<NA>,<NA>,<NA>
4,1355250,ABAD Nestor,M,28,ESP,Spain,Artistic Gymnastics,Men's Pommel Horse,NaN,NaN,2020,Summer,2020 Summer,<NA>,<NA>,<NA>

In [ ]:
df_olympics.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [ ]:
df_tokyo.drop(columns=['Rank'], inplace=True)

# Display the columns to verify the deletion
print("\nColumns in the Tokyo 2020 dataset after dropping 'Rank':")
print(df_tokyo.columns)

Columns in the Tokyo 2020 dataset after dropping 'Rank':
Index(['Name', 'Sex', 'Age', 'NOC', 'Team', 'Sport', 'Event', 'Medal', 'Year',
       'Season', 'Games', 'Height', 'Weight', 'City'],
      dtype='object')

In [ ]:

# show the columns of both datasets to verify
print("Columns in the Olympics dataset:")
print(df_olympics.columns)

print("\nColumns in the Tokyo 2020 Olympics dataset:")
print(df_tokyo.columns)

Columns in the Olympics dataset:
Index(['ID', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games',
       'Year', 'Season', 'City', 'Sport', 'Event', 'Medal'],
      dtype='object')

Columns in the Tokyo 2020 Olympics dataset:
Index(['Name', 'Sex', 'Age', 'NOC', 'Team', 'Sport', 'Event', 'Medal', 'Year',
       'Season', 'Games', 'Height', 'Weight', 'City'],
      dtype='object')

In [ ]:

# Display the columns of both datasets to verify match
print("Columns in the Olympics dataset:")
print(df_olympics.columns)

print("\nColumns in the Tokyo 2020 Olympics dataset:")
print(df_tokyo.columns)

Columns in the Olympics dataset:
Index(['ID', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games',
       'Year', 'Season', 'City', 'Sport', 'Event', 'Medal'],
      dtype='object')

Columns in the Tokyo 2020 Olympics dataset:
Index(['Name', 'Sex', 'Age', 'NOC', 'Team', 'Sport', 'Event', 'Medal', 'Year',
       'Season', 'Games', 'Height', 'Weight', 'City'],
      dtype='object')

In [ ]:

# Show columns to verify the initial state
print("Initial columns in the Tokyo 2020 Olympics dataset:")
print(df_tokyo.columns)

Initial columns in the Tokyo 2020 Olympics dataset:
Index(['Name', 'Sex', 'Age', 'NOC', 'Team', 'Sport', 'Event', 'Medal', 'Year',
       'Season', 'Games', 'Height', 'Weight', 'City'],
      dtype='object')

In [ ]:
# Rename columns in the Tokyo dataset to match the Olympics dataset
df_tokyo.rename(columns={
    'Code': 'ID',
    'Gender': 'Sex',
    'Country': 'Team',
}, inplace=True)

# Verify the changes
print("\nColumns after renaming:")
print(df_tokyo.columns)

Columns after renaming:
Index(['ID', 'Name', 'Sex', 'Age', 'NOC', 'Team', 'Sport', 'Sport', 'Event',
       'Medal'],
      dtype='object')

In [ ]:
df_tokyo.head()

,ID,Name,Sex,Age,NOC,Team,Sport,Sport,Event,Medal
0,1346266,AALERUD Katrine,Female,26,NOR,Norway,CRD,Cycling Road,Women's Road Race,NaN
1,1346266,AALERUD Katrine,Female,26,NOR,Norway,CRD,Cycling Road,Women's Individual Time Trial,NaN
2,1355250,ABAD Nestor,Male,28,ESP,Spain,GAR,Artistic Gymnastics,Men's All-Around,NaN
3,1355250,ABAD Nestor,Male,28,ESP,Spain,GAR,Artistic Gymnastics,Men's Floor Exercise,NaN
4,1355250,ABAD Nestor,Male,28,ESP,Spain,GAR,Artistic Gymnastics,Men's Pommel Horse,NaN

In [ ]:
df_olympics.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [ ]:
# Rename columns in the Tokyo dataset to match the Olympics dataset
df_tokyo.rename(columns={
    'Code': 'ID',
    'Gender': 'Sex',
    'Country': 'Team',
    'Sport': 'Games',
}, inplace=True)

# Verify the changes
print("\nColumns after renaming:")
print(df_tokyo.columns)

Columns after renaming:
Index(['ID', 'Name', 'Sex', 'Age', 'NOC', 'Team', 'Sport', 'Sport', 'Event',
       'Medal'],
      dtype='object')

In [ ]:
df_tokyo.head()

,ID,Name,Sex,Age,NOC,Team,Sport,Sport,Event,Medal
0,1346266,AALERUD Katrine,Female,26,NOR,Norway,CRD,Cycling Road,Women's Road Race,NaN
1,1346266,AALERUD Katrine,Female,26,NOR,Norway,CRD,Cycling Road,Women's Individual Time Trial,NaN
2,1355250,ABAD Nestor,Male,28,ESP,Spain,GAR,Artistic Gymnastics,Men's All-Around,NaN
3,1355250,ABAD Nestor,Male,28,ESP,Spain,GAR,Artistic Gymnastics,Men's Floor Exercise,NaN
4,1355250,ABAD Nestor,Male,28,ESP,Spain,GAR,Artistic Gymnastics,Men's Pommel Horse,NaN

In [ ]:
df_olympics.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [ ]:
# Rename columns in the Tokyo dataset to match the Olympics dataset
df_tokyo.rename(columns={
    'Code': 'ID',
    'Gender': 'Sex',
    'Country': 'Team',
    'Sport': 'Games',
}, inplace=True)

# Verify the changes
print("\nColumns after renaming:")
print(df_tokyo.columns)

Columns after renaming:
Index(['ID', 'Name', 'Sex', 'Age', 'NOC', 'Team', 'Games', 'Games', 'Event',
       'Medal'],
      dtype='object')

In [ ]:
df_tokyo.head()

,ID,Name,Sex,Age,NOC,Team,Games,Games,Event,Medal
0,1346266,AALERUD Katrine,Female,26,NOR,Norway,CRD,Cycling Road,Women's Road Race,NaN
1,1346266,AALERUD Katrine,Female,26,NOR,Norway,CRD,Cycling Road,Women's Individual Time Trial,NaN
2,1355250,ABAD Nestor,Male,28,ESP,Spain,GAR,Artistic Gymnastics,Men's All-Around,NaN
3,1355250,ABAD Nestor,Male,28,ESP,Spain,GAR,Artistic Gymnastics,Men's Floor Exercise,NaN
4,1355250,ABAD Nestor,Male,28,ESP,Spain,GAR,Artistic Gymnastics,Men's Pommel Horse,NaN

In [ ]:
df_olympics.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [ ]:
# Replace the contents of the 'Sex' column
df_tokyo['Sex'] = df_tokyo['Sex'].replace({'Female': 'F', 'Male': 'M'})

# Verify the changes
print("\nUnique values in 'Sex' column after replacement:")
print(df_tokyo['Sex'].unique())

Unique values in 'Sex' column after replacement:
['F' 'M']

In [ ]:
# Add missing columns to the Tokyo dataset with appropriate values
df_tokyo['Height'] = pd.NA
df_tokyo['Weight'] = pd.NA
df_tokyo['Games'] = '2020 Summer'
df_tokyo['Year'] = 2020
df_tokyo['Season'] = 'Summer'
df_tokyo['City'] = 'Tokyo'

# Verify the changes
print("\nColumns after adding missing columns:")
print(df_tokyo.columns)

# Display the first few rows to verify changes
print("\nFirst few rows after all modifications:")
print(df_tokyo.head())

Columns after adding missing columns:
Index(['Name', 'Sex', 'Age', 'NOC', 'Team', 'Sport', 'Event', 'Medal', 'Year',
       'Season', 'Games', 'Height', 'Weight', 'City'],
      dtype='object')

First few rows after all modifications:
              Name     Sex  Age  NOC    Team                Sport  \
0  AALERUD Katrine  Female   26  NOR  Norway         Cycling Road
1  AALERUD Katrine  Female   26  NOR  Norway         Cycling Road
2      ABAD Nestor    Male   28  ESP   Spain  Artistic Gymnastics
3      ABAD Nestor    Male   28  ESP   Spain  Artistic Gymnastics
4      ABAD Nestor    Male   28  ESP   Spain  Artistic Gymnastics

                           Event Medal  Year  Season        Games Height  \
0              Women's Road Race   NaN  2020  Summer  2020 Summer   <NA>
1  Women's Individual Time Trial   NaN  2020  Summer  2020 Summer   <NA>
2               Men's All-Around   NaN  2020  Summer  2020 Summer   <NA>
3           Men's Floor Exercise   NaN  2020  Summer  2020 Summer   <NA>
4             Men's Pommel Horse   NaN  2020  Summer  2020 Summer   <NA>

  Weight   City
0   <NA>  Tokyo
1   <NA>  Tokyo
2   <NA>  Tokyo
3   <NA>  Tokyo
4   <NA>  Tokyo

In [ ]:
df_tokyo.head()

,Name,Sex,Age,NOC,Team,Sport,Event,Medal,Year,Season,Games,Height,Weight,City
0,AALERUD Katrine,Female,26,NOR,Norway,Cycling Road,Women's Road Race,NaN,2020,Summer,2020 Summer,<NA>,<NA>,Tokyo
1,AALERUD Katrine,Female,26,NOR,Norway,Cycling Road,Women's Individual Time Trial,NaN,2020,Summer,2020 Summer,<NA>,<NA>,Tokyo
2,ABAD Nestor,Male,28,ESP,Spain,Artistic Gymnastics,Men's All-Around,NaN,2020,Summer,2020 Summer,<NA>,<NA>,Tokyo
3,ABAD Nestor,Male,28,ESP,Spain,Artistic Gymnastics,Men's Floor Exercise,NaN,2020,Summer,2020 Summer,<NA>,<NA>,Tokyo
4,ABAD Nestor,Male,28,ESP,Spain,Artistic Gymnastics,Men's Pommel Horse,NaN,2020,Summer,2020 Summer,<NA>,<NA>,Tokyo

In [ ]:
df_olympics.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [ ]:

#Show the columns to verify the initial state
print("Initial columns in the Tokyo 2020 Olympics dataset:")
print(df_tokyo.columns)

Initial columns in the Tokyo 2020 Olympics dataset:
Index(['Name', 'Sex', 'Age', 'NOC', 'Team', 'Sport', 'Event', 'Medal', 'Year',
       'Season', 'Games', 'Height', 'Weight', 'City'],
      dtype='object')

In [ ]:
df_tokyo.head()

,Name,Sex,Age,NOC,Team,Sport,Event,Medal,Year,Season,Games,Height,Weight,City
0,AALERUD Katrine,Female,26,NOR,Norway,Cycling Road,Women's Road Race,NaN,2020,Summer,2020 Summer,<NA>,<NA>,Tokyo
1,AALERUD Katrine,Female,26,NOR,Norway,Cycling Road,Women's Individual Time Trial,NaN,2020,Summer,2020 Summer,<NA>,<NA>,Tokyo
2,ABAD Nestor,Male,28,ESP,Spain,Artistic Gymnastics,Men's All-Around,NaN,2020,Summer,2020 Summer,<NA>,<NA>,Tokyo
3,ABAD Nestor,Male,28,ESP,Spain,Artistic Gymnastics,Men's Floor Exercise,NaN,2020,Summer,2020 Summer,<NA>,<NA>,Tokyo
4,ABAD Nestor,Male,28,ESP,Spain,Artistic Gymnastics,Men's Pommel Horse,NaN,2020,Summer,2020 Summer,<NA>,<NA>,Tokyo

In [ ]:
df_olympics.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [ ]:
# Concatenate the datasets
df_combined = pd.concat([df_olympics, df_tokyo], ignore_index=True)

# Display the first few rows of the combined dataset
print("\nFirst few rows of the combined dataset:")
print(df_combined.head())

First few rows of the combined dataset:
    ID                      Name Sex   Age  Height  Weight            Team  \
0  1.0                 A Dijiang   M  24.0   180.0    80.0           China
1  2.0                  A Lamusi   M  23.0   170.0    60.0           China
2  3.0       Gunnar Nielsen Aaby   M  24.0     NaN     NaN         Denmark
3  4.0      Edgar Lindenau Aabye   M  34.0     NaN     NaN  Denmark/Sweden
4  5.0  Christine Jacoba Aaftink   F  21.0   185.0    82.0     Netherlands

   NOC        Games  Year  Season       City          Sport  \
0  CHN  1992 Summer  1992  Summer  Barcelona     Basketball
1  CHN  2012 Summer  2012  Summer     London           Judo
2  DEN  1920 Summer  1920  Summer  Antwerpen       Football
3  DEN  1900 Summer  1900  Summer      Paris     Tug-Of-War
4  NED  1988 Winter  1988  Winter    Calgary  Speed Skating

                              Event Medal
0       Basketball Men's Basketball   NaN
1      Judo Men's Extra-Lightweight   NaN
2           Football Men's Football   NaN
3       Tug-Of-War Men's Tug-Of-War  Gold
4  Speed Skating Women's 500 metres   NaN

<ipython-input-88-68fe7628e03d>:2: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_combined = pd.concat([df_olympics, df_tokyo], ignore_index=True)

In [ ]:
df_combined.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1.0,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2.0,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3.0,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4.0,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5.0,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [ ]:
from google.colab import files

# Export the combined dataset to a CSV file to colab
df_combined.to_csv('combined_olympics_dataset.csv', index=False)

# Download combined file to your local machine
files.download('combined_olympics_dataset.csv')

print("\nCombined dataset exported and downloaded successfully.")

Combined dataset exported and downloaded successfully.